{% extends 'site/base.html' %}
{% load bootstrap3 staticfiles widget_tweaks %}

{% block head_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'site/js/subly.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/playlists.js' %}"></script>
{% endblock %}

{% block primary_content %}
    {% bootstrap_messages %}
    <div class="modal fade" id="addPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="addPlaylistModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addPlaylistModalLabel">New Playlist</h4>
                </div>
                <form method="post" action="{% url 'playlist_new' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="playlist-name" class="control-label">Playlist Name:</label>
                            {% render_field form.playlist_name class+="form-control" %}
                            {% if form.playlist_name.errors %}
                                <div class="alert alert-danger">
                                    {{ form.playlist_name.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary">Create Playlist</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="page-header">
        <h2>Here are your playlists.</h2>
    </div>
    <div class="filter-table-controls">
        <button type="button" class="btn btn-primary btn-add-playlist" data-toggle="modal" data-target="#addPlaylistModal">Add Playlist</button>
    </div>
    {% for pl in playlists %}
        <div class="panel panel-default panel-form ">
            <div class="panel-body">
                <a href="{% url 'playlist_detail' pl.pk %}">
                    <h4 class="playlist-title">{{ pl.title }} <div class="pull-right playlist-edit">Edit</div></h4>
                </a>
                <ul class="playlist-info list-unstyled">
                    <li><small>Has created <strong>{{ pl.youtube_playlists.count }} playlists</strong> on YouTube.</small></li>
                    <li><small>Last updated {{ pl.last_update }}</small></li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}