{% extends 'site/base.html' %}
{% load bootstrap3 staticfiles %}

{% block head_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'site/js/subly.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/playlistdetail.js' %}"></script>
{% endblock %}

{% block primary_content %}
    <div class="page-header">
        <h2>Playlist: <small>{{ playlist.title }}</small></h2>
    </div>
    <div class="pull-right">
        <a href="#" data-toggle="modal" data-target="#delPlaylistModal" class="text-danger">Delete Playlist</a>
    </div>
        
    {% if playlist_exclusions %}
        <h4>Don't add videos to this playlist if they're also matched by any of these playlists:</h4>
    {% endif %}
    <ul class="playlist-exclusions-list">
        {% for pl in playlist_exclusions %}
            <li><span>{{ pl.title }}</span><button data-id="{{ pl.pk }}" data-playlist-title="{{ pl.title }}" class="close delete-control"><span aria-hidden="true">&times;</span></button></li>
        {% endfor %}
        <li class='add-playlist-exclusion'>
            <select name='add-playlist-exclusion' class='form-control'>
                <option></option>
                {% for pl in nonexclude_playlists %}
                    <option value="{{ pl.pk }}">{{ pl.title }}</option>
                {% endfor %}
            </select>
        </li>
    </ul>
    
    <h4>Playlist filters:</h4>
    <input type="hidden" name="playlist-id" value="{{ playlist.pk }}" />

    <div class="filter-table-controls">
        <button class="btn btn-primary btn-add-filter">Add Filter</button>
        <div class="pull-right">
            <label class="checkbox-inline">
                <input type="checkbox" id="advanced-controls">Show advanced controls
            </label>
        </div>
    </div>
    <table id="filters" class="table table-striped">
        <thead>
            <tr>
                <th>Match this...</th>
                <th class="advanced-controls-col">Ignore Case</th>
                <th class="advanced-controls-col">Regex</th>
                <th>On this...</th>
                <th>Exactly...</th>
                <th>Exclude... <i class="fa fa-question-circle"></i></th>
                <th>From Channel With This Title...</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for filter in filters %}
                {% include 'site/subly_filter_row.html' %}
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="delPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="delPlaylistModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delPlaylistModalLabel">Delete Playlist</h4>
                </div>
                <div class="modal-body">
                    <div>Are you sure you want to delete {{ APP_NAME }} playlist <strong>{{ playlist.title }}</strong>? All video filters created under this playlist will be lost.</div>
                    <div class="deletion-note"><strong>Note: </strong> This is a permanent action. This does NOT delete playlists or videos on your YouTube account.</div>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'playlist_delete' playlist.pk %}">
                        {% csrf_token %}
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-danger">Delete Playlist</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}